<div class="container mt-5">
  <div class="row">
    <div class="input-group mb-3">
      <div class="col-12">
        <div class="input-group mb-3">
          <span class="input-group-text col-4" id="basic-addon1">Inserir Número Nfse para pesquisar créditos</span>
          <input type="text" (keyup.enter)="enviar()" class="form-control" placeholder="numeroNfse" aria-label="numeroNfse"
            [(ngModel)]="numeroNfse" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-group mb-3">
      <div class="col-12">
        <div class="input-group mb-3">
          <span class="input-group-text col-4" id="basic-addon1">Inserir Número Crédito para pesquisar crédito</span>
          <input type="text" (keyup.enter)="enviar()" class="form-control" placeholder="numeroCredito" aria-label="numeroCredito"
            [(ngModel)]="numeroCredito" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mb-5">
    <button type="button" class="btn btn-primary" (click)="enviar()">Enviar</button>
  </div>

  <div *ngIf="creditos.length">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Número Crédito</th>
          <th scope="col">Número Nfse</th>
          <th scope="col">Data Constituiçãoo</th>
          <th scope="col">Valor Issqn</th>
          <th scope="col">Tipo Crédito</th>
          <th scope="col">Simples Nacional</th>
          <th scope="col">Alíquota</th>
          <th scope="col">Valor Faturado</th>
          <th scope="col">Valor Dedução</th>
          <th scope="col">Base Cálculo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of creditos">
          <td>{{ c.numeroCredito }}</td>
          <td>{{ c.numeroNfse }}</td>
          <td>{{ c.dataConstituicao | date }}</td>
          <td>{{ c.valorIssqn | currency : 'BRL' }}</td>
          <td>{{ c.tipoCredito }}</td>
          <td>{{ c.simplesNacional }}</td>
          <td>{{ c.aliquota }}</td>
          <td>{{ c.valorFaturado | currency : 'BRL' }}</td>
          <td>{{ c.valorDeducao | currency : 'BRL' }}</td>
          <td>{{ c.baseCalculo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>